@import "tailwindcss";

/* FONTS */
@font-face {
  font-family: "FredokaOne";
  src: local("FredokaOne"),
    url("/src/fonts/FredokaOne-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraGo";
  src: local("FiraGo"), url("/src/fonts/FiraGO-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraGo";
  src: local("FiraGo"), url("/src/fonts/FiraGO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* reset styles */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* ---tailwind stuff--- */

@layer utilities, components, base, theme;

@layer utilities {
  .logo {
    font-family: "FredokaOne", sans-serif;
    @apply font-[400] text-[32px]/[100%] tracking-[0%] text-[#8338EC];
  }

  .page-title {
    @apply text-[34px]/[100%] font-[600] tracking-[0%];
  }
}

@layer components {
  /* header styles */
  .header-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-wrap: nowrap;
  }

  .header-primary-btn {
    background-color: #8338ec;
    color: #fff;
    transition: background-color ease-out 300ms;
  }
  .header-primary-btn:hover {
    background-color: #b588f4;
  }

  .header-secondary-btn {
    color: #212529;
    border: 1px solid #8338ec;
  }
  .header-secondary-btn:hover {
    border-color: #b588f4;
  }

  /* home page styles */

  input[type=checkbox] {
    padding: 2px;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 6px;
    vertical-align: middle;
    border: 1.5px solid #8338EC;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

  input[type=checkbox]:checked {
    content: url("./src/assets/tick-icon.svg");
  }
  
  .status {
    @apply text-white p-[15px]! text-[20px]/[100%] tracking-[0%] rounded-[10px] text-center;
  }

  /* styling individual statuses backgrounds differently */
  .status-1 {
    @apply bg-[#F7BC30];
  }
  .status-2 {
    @apply bg-[#FB5607];
  }
  .status-3 {
    @apply bg-[#FF006E];
  }
  .status-4 {
    @apply bg-[#3A86FF];
  }

  .task {
    @apply p-[20px] border-[1px] border-[#F7BC30] rounded-[15px] flex flex-col gap-[28px];
  }

  .task-1 {
    @apply border-[#F7BC30];
  }
  .task-2 {
    @apply border-[#FB5607];
  }
  .task-3 {
    @apply border-[#FF006E];
  }
  .task-4 {
    @apply border-[#3A86FF];
  }

  .task-priority {
    @apply flex items-center gap-[4px] border-[0.5px] text-[12px] p-[4px] rounded-[5px] min-w-[86px];
  }

  .task-priority-1 {
    @apply border-[#08A508] text-[#08A508];
  }
  .task-priority-2 {
    @apply border-[#FFBE0B] text-[#FFBE0B];
  }
  .task-priority-3 {
    @apply border-[#FA4D4D] text-[#FA4D4D];
  }

  .department-badge {
    @apply rounded-[15px] text-white min-w-[88px] py-[5px] px-[9px] text-center text-[12px];
  }
  .department-badge-1 {
    @apply bg-[#FF66A8];
  }
  .department-badge-2 {
    @apply bg-[#FD9A6A];
  }
  .department-badge-3 {
    @apply bg-[#89B6FF];
  }
  .department-badge-4 {
    @apply bg-[#FFD86D];
  }



  /* Task Page Styles */

  .task-title {
    @apply mt-[12px]! font-[500] text-[34px]/[100%] tracking-[0%] text-[#212529];
  }
  .task-description {
    @apply font-[400] text-[18px]/[150%] tracking-[0%] mt-[36px]!
  }
  


  /* Modal styles */

  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 45px;
  }
  .form-grid div:nth-of-type(3) {
    grid-column: span 2;
    grid-row: span 2;
  }

  
  .input-box {
    @apply flex flex-col
  }
  .input-title {
    @apply font-[500] text-[14px]/[100%] tracking-[0%] text-[#343A40]
  }
  .input-box input {
    @apply border-1 border-[#CED4DA] bg-white h-[42px] p-[10px] rounded-[6px] mt-[3px] min-w-[380px]
  }

  
}

/* --- */

body {
  font-family: "FiraGo";
}

.wrapper-container {
  max-width: 1920px;
  padding: 0 120px;
  margin: 0 auto;
}




